#queue {
  border-bottom:none;
  height:177px;
  overflow:auto;
  overflow-x:hidden;
}
#gallery .thumbnails .span2 a {
  width:170px;
  height:130px;
  max-width:170px;
  max-height:130px;
  min-width:170px;
  min-height:130px;
  vertical-align:center;
}
#gallery .thumbnails .span2 a img {
  max-width:170px;
  max-height:130px;
}
.container-narrow {
  margin:0 auto;
  max-width:800px;
}
.container-narrow > hr { margin:30px 0; }
.container-upload {
  width:250px;
  border:1px solid #e5e5e5;
}
.container-upload .btn-group { display:inline; }
.container-upload .btn-group .btn {
  font-size:14px;
  width:100px;
}
.center { text-align:center; }
.progress { margin-bottom:5px; }
body { margin-top:40px; }
* {
  font-family:"Open Sans";
  -webkit-font-smoothing:subpixel-antialiased;
}
h1, h2, h3, h4, h5, h6 { font-family:"Oxygen"; }
button, input { font-family:"Open Sans"; }
.masthead h3 a { color:#000000; }
.masthead h3 a:hover { text-decoration:none; }
.upload-hidden { display:none; }
